snippet todowork "todo work"
# DUE SOON/OVERDUE | due:today or due:tomorrow or +OVERDUE | due:today
# WORK || project:cl status:Pending +na || project:cl +na
## ASYNC | +async 
## DEEP | +deep
## PLANNING | +planning
## 10 MIN | +ten
## MISC | -deep -planning -ten -async
endsnippet
